name = "auth-backend"
main = "src/index.ts"
compatibility_date = "2022-12-30"
node_compat = true

[vars]
PUBLIC_PARTY_AUTH=""
PARTY_MEDIA_URL=""
QUERY_SERVICE_URL=""
PUBLIC_FEED_PATH=""
WRITE_USER_HASH=""
SCOPE_SERVICE_URL=""
USER_PASSWORD_SALT="abcdef1241a"
HASH_TEMPLATE='["@","salt","_","password"]'
HASH_ALGO="SHA-384"
SYNC_GATEWAY_URL=""
BUCKETS_URL=""
SYNC_GATEWAY_PASSWORD=""
SYNC_GATEWAY_USER=""
TT_LOCK_API_ID=""
TT_LOCK_API_SECRET=""
TT_LOCK_API_ADMIN_USER_NAME=""
TT_LOCK_API_ADMIN_USER_PASSWORD=""
TT_LOCK_API_URL="https://api.sciener.com"
TUYA_API_URL="https://openapi.tuyaeu.com"
TUYA_API_KEY=""
TUYA_API_SECRET=""